<div class="row">

<div class="col-md-6"></div>

<div class="col-md-3" ng-controller="SessionsController as session">
  <%= image_tag "logo.jpg", alt:"hiku", id: "hiku-title" %>
  <!--  LoginForm  -->
  <login-form></login-form>
  <!-- Shopping List -->
  <div id="shopping-list" ng-controller="ItemsController as ItemsCtrl" ng-show="session.loggedIn">
    <h3 id="list-title">Shopping List</h3>
    <button class="btn btn-danger" id="logout" ng-click="session.logout()">Log Out</button>
    <button class="btn btn-info" id="refresh" ng-click="session.refresh()">Refresh</button>
    <!-- itemForm -->
    <item-form></item-form>
    <!-- item-list -->
    <item-list></item-list>
  </div>
</div>
<div class="col-md-3"></div>
</div>
