<div class="row">

<div class="col-md-6"></div>

<div class="col-md-3" ng-controller="SessionsController as session">
  <%= image_tag "logo.jpg", alt:"hiku", id: "hiku-title" %>
  <!--  LoginForm  -->
  <login-form></login-form>
  <!-- Shopping List -->
  <div id="shopping-list" ng-controller="ItemsController as ItemsCtrl" ng-show="session.loggedIn">
    <h3 id="list-title">Shopping List</h3>
    <button class="btn btn-danger" id="logout" ng-click="session.logout()">Log Out</button>
    <button class="btn btn-info" id="refresh" ng-click="session.refresh()">Refresh</button>
    <!-- itemForm -->
    <item-form></item-form>
    <!-- Display Items -->
    <div id="item-list">
      <ol ng-if="session.loggedIn" class="nav nav-pills nav-stacked">
        <li ng-repeat="item in ItemsCtrl.items">
          <a href="" class="btn-success" ng-click="showDetails = !showDetails">
            <div id="item">{{item.name}} | {{item.quantity}}</div>
          </a>
          <button class="btn-link" id="delete-btn" ng-click="ItemsCtrl.deleteItem(item.id, $index)">Delete</button>
          <!-- Item Details -->
          <div id="item-details" ng-show="showDetails" class="">
            <p class="btn-primary">Item Details</p>
            <ul>
              <li>Asile: <b>{{item.aisleName}}</b></li>
              <li>EAN Code: <b>{{item.ean}}</b></li>
            </ul>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
</div>
