<h1>Shopping List</h1>
<form>
  <input type="text" ng-model='newItem' placeholder='Enter an item'>
  <input type="submit" value="Add">
</form>
<div ng-controller="ItemsController as ItemsCtrl">
  <ol>
    <li ng-repeat="item in ItemsCtrl.items">
      {{item.name}}, {{item.quantity}}
      <a href="" ng-click="deleteItem($index)">Delete</a>
    </li>
  </ol>
</div>
