<div class="row">

<div class="col-md-6"></div>

<div class="col-md-3" ng-controller="SessionsController as session">
  <%= image_tag "logo.jpg", alt:"hiku", id: "hiku-title" %>
  <!--  LoginForm  -->
  <form role="form" id="login-form" name="loginForm" ng-submit="loginForm.$valid && session.login()" ng-hide="session.loggedIn" novalidate>
    <h1>Log In</h1>
    <div ng-show="session.error">
        {{session.errorMsg}} Please try again.
    </div>
    <div class="form-group">
      <label for="userEmail">Email</label>
      <input type="text" class="form-control" id="userEmail" ng-model='session.email' placeholder='Go@hiku.us' required>
    </div>
      <label for="userPassword">Password</label>
      <input type="password" class="form-control" id="userPassword" ng-model='session.password' placeholder='HelpMeShop' required>
    <input type="submit" type="submit" class="btn btn-success" value="Log In">
  </form>
  <!-- Shopping List -->
  <div id="shopping-list" ng-controller="ItemsController as ItemsCtrl" ng-show="session.loggedIn">
    <h3 id="list-title">Shopping List</h3>
    <button id="logout" ng-click="session.logout()">Log Out</button>
    <!-- itemForm -->
    <form role="form" id="item-form" name="itemForm" ng-submit="itemForm.$valid && ItemsCtrl.createItem()" novalidate>
      <h4>Add new item</h4>
      <div class="form-group">
        <label for="itemName">Item Name</label>
        <input type="text" class="form-control" id="itemName" ng-model='ItemsCtrl.name' placeholder='Enter an item' required>
      </div>
      <div class="form-group">
        <label for="itemQuantity">Quantity</label>
        <input type="integer" class="form-control" id="itemQuantity" ng-model='ItemsCtrl.quantity' placeholder='Quantity'>
      </div>
      <input type="submit" class="btn btn-success" id="item-form-submit" value="Add Item">
    </form>
    <!-- Display Items -->
    <div id="item-list">
      <ol ng-if="session.loggedIn" class="nav nav-pills nav-stacked">
        <li ng-repeat="item in ItemsCtrl.items">
          <a href="" class="btn-success" ng-click="showDetails = !showDetails">
            {{item.name}} | {{item.quantity}} {{ItemsCtrl.showDetail}}
          </a>
          <!-- Item Details -->
          <div id="item-details" ng-show="showDetails" class="">
            <p class="btn-primary">Item Details</p>
            <ul>
              <li>Asile: {{item.aisleName}}</li>
              <li>EAN Code: {{item.ean}}</li>
            </ul>
          </div>
          <button class="btn-link" ng-click="ItemsCtrl.deleteItem(item.id, $index)">Delete</button>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
</div>
