<div ng-controller="SessionsController as session">
  <h1>hiku</h1>
  <!--  Log In Form  -->
  <form name="loginForm" ng-submit="loginForm.$valid && session.login()" ng-hide="session.loggedIn" novalidate>
    <h1>Log In</h1>
    <div ng-show="session.error">
        {{session.errorMsg}} Please try again.
    </div>
    <input type="text" ng-model='session.email' placeholder='JohnDoe@Gmail.com' required>
    <input type="password" ng-model='session.password' placeholder='$ecret' required>
    <input type="submit" value="Log In">
  </form>
  <!-- Shopping List -->
  <div ng-controller="ItemsController as ItemsCtrl" ng-show="session.loggedIn">
    <h1>Shopping List</h1>
    <button ng-click="session.logout()">Log Out</button>
    <form name="itemForm" ng-submit="itemForm.$valid && ItemsCtrl.createItem()" novalidate>
      <input type="text" ng-model='ItemsCtrl.name' placeholder='Enter an item' required>
      <input type="integer" ng-model='ItemsCtrl.quantity' placeholder='Quantity'>
      <input type="submit" value="Add">
    </form>
    <ol ng-if="session.loggedIn" class="nav nav-pills nav-stacked">
      <li ng-repeat="item in ItemsCtrl.items">
        {{item.name}}, {{item.quantity}}
        <a href="" ng-click="ItemsCtrl.deleteItem(item.id, $index)">Delete</a>
      </li>
    </ol>
  </div>
</div>
